.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    background: url("/static/images/mypic.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}